node_modules

dist
.DS_Store
bak
simplifi_transaction_files/archive
simplifi_transaction_files/generated_simplifi_csv_files
simplifi_transaction_files/previous_generated_simplifi_csv_files

# the root one only
simplifi_transaction_files/original_ofx_files

# allow template/original_ofx_files directory but ignore all files by default
!simplifi_transaction_files/template/original_ofx_files/
simplifi_transaction_files/template/original_ofx_files/*

# allow specific file patterns in template/original_ofx_files
!simplifi_transaction_files/template/original_ofx_files/readme.md
!simplifi_transaction_files/template/original_ofx_files/bankname-*.ofx

